
<main class='gradient'>
    <div class='box'>
        <h1>TODO List</h1>
        <p>A place to store your todos.</p>
        <input [(ngModel)]='searchText' class='input' placeholder="Filter your to-dos"/>
        
            <ol>
            <li *ngFor = 'let todo of todos | filter:searchText; let i = index'>
                <p class= 'right-margin'>{{i + 1}}.</p>
                <button *ngIf='!todo.completed' class='complete'>Complete</button> 
                <p [ngClass] = '{strike: todo.completed}' >{{todo.task}}</p>
                <button class='x' ><fa-icon [icon]="faCoffee"></fa-icon></button>                
            </li>   
            </ol>

        <input class='input' placeholder='Add your to-dos'>
        <button class='gradient add'>Add</button>
    </div>
</main>